body {
	height: 100vh;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	color: white;
	position: relative;
	width: 100%;
	height: 100vh;
}

/* HEADER Styles */

header {
	background-color: rgb(28, 41, 41);
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50%;
	color: white;
	height: 50px;
	height: 10vh;
}

/* MAIN Styles */

main {
	display: flex;
	flex-direction: row;
	height: 90vh;
}

main nav {
	background-color: rgb(40, 58, 58);
	width: 20%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

main nav ul {
	color: white;
	list-style-type: none;
}

main nav ul li {
	margin-top: 15px;
	cursor: pointer;
}

main nav ul li a {
	color: white;
	text-decoration: none;
}

/* content__wrapper styles */

.content__wrapper {
	display: flex;
	flex-direction: column;

}

.wrapper__header {
	background-color: rgb(40, 58, 58);
	text-align: center;
}

.wrapper__block-group {
	display: flex;
	flex-direction: row;
}

.block img {
	height: 100%;
	width: 100%;
}

.block_map {
	height: 100%;
}

.wrapper__footer {
	height: auto;
	background-color: black;
	text-align: center;
}

/* FOOTER Styles */

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50%;
	background-color: rgb(40, 58, 58);
	height: 50px;
	width: 100%;
	height: 10vh;
}

@media screen and (max-width: 400px) {

	header {
		gap: 10%
	}

	header h1 {
		font-size: 18px;
	}

	header p {
		font-size: 14px;
	}

	.wrapper__block-group {
		flex-direction: column;
	}
}