html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

.header td {
	height: 0;
	padding: 20px 0;
}

.header p {
	padding: 5px;
}

h1,
p {
	margin: 0px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	height: 100%;
	table-layout: fixed;
}

td,
th {
	padding: 0;
}

/*block*/
.block__1 {
	background-color: rgb(28, 41, 41);
	min-height: 7vh;
	height: 0;
	margin: 0;
}

.block__1 p {
	text-align: right;
}

.block__2 {
	background-color: rgb(39, 57, 57);
	justify-content: center;
	text-align: center;
	min-width: 20%;
	margin: 0;
}

.block__3 {
	background-color: rgb(42, 62, 62);
	text-align: center;
	margin: 0;
}

.block__4 {
	background-color: rgb(50, 74, 74);
	min-height: 350px;
	margin: 0;
}

.block__4 img {
	width: 100%;
	height: 100%;
}

.block__5 {
	background-color: rgb(17, 24, 24);
	width: 30%;
	align-items: center;
	margin: 0;
}

.block__5 iframe {
	width: 100%;
	height: 100%;
}

.block__6 {
	background-color: rgb(0, 0, 0);
	height: auto;
	text-align: center;
	margin: 0;
}

.block__7 {
	background-color: rgb(40, 58, 58);
	min-height: 6vh;
	justify-content: space-between;
	margin: 0;
}

.block__7 h1 {
	text-align: right;
}

.block__3-4-5-6 {
	flex-direction: column;
	width: 80%;
	height: 100%;
}

.block__2-3-4-5-6 {
	height: auto;
	min-height: 80vh;
}

.block__4-6 {
	flex-direction: column;
	width: 70%;

}

.block__4-5-6 {
	flex-grow: 2;
}

/*link*/



/*name*/
.name {
	color: white;
	margin: 0, 0, 10, 10;
}

.name__1 {
	color: white;
	margin-right: 5;
}

a,
p,
h1 {
	list-style: none;
	color: #ffff;
	margin: 0%;
}

.img__coffee {
	max-height: 500px;
	max-width: 720px;
}

a {
	text-decoration: none;
}